#loading-screen{
    height: 100vh;
    
}
.logo-container{
    /* background-color: #8205C9; */
    position: relative;
    top: 40%;
    left: 32%;
    height: 4rem;
    width: 6rem;
    border-radius: 10px;
    animation: scale 2000ms infinite forwards;
    animation-fill-mode: forwards;
}
.logo-container img{
   
    max-height: 500%; 
    width: 500%;
}
@keyframes scale {
    from{
        transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }

@media(max-width:500px){
    .logo-container{
        left: 30%;
    }
}